.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

h2 {
  text-align: center;
  padding: 15px;
}

p{
  text-align: center;
}

.list {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 0 40px;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}

.list .hidden {
  display: none !important;
}

.list article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  border: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
  transition: all 0.1s;
}

.list .icon {
  display: none;
}

.list .ranking {
  position: relative;
  width: 15%;
  text-align: center;
}

.list .ranking strong {
  display: block;
  margin-right: 20px;
  font-size: 36px;
  line-height: 100%;
}

.list .ranking span {
  display: inline-block;
  margin: 5px 0 0;
  font-size: 11px;
  line-height: 120%;
  color: #9f9699;
}

.list .ranking span strong {
  display: inline;
  margin: 0 0 0 4px;
  font-size: 11px;
  font-weight: 300;
  line-height: 120%;
  color: #9f9699;
}

.list .thumb {
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 80px;
  background: #eeeff4;
  font-size: 0;
  line-height: 120%;
  text-align: center;
  transition: all 0.1s;
}

.list .thumb img {
  width: 100%;
}

.list .tit {
  width: calc(85% - 218px); 
  margin: 0 0 0 25px;
}

.list .tit strong {
  display: block;
  font-size: 24px;
  line-height: 100%;
}

.list .tit span {
  display: inline-block;
  margin: 8px 0 0 1px;
  font-size: 15px;
  line-height: 100%;
}

.list .tit span a {
  color: #0088cf;
  text-decoration: none;
}

.list .tit span a:visited {
  color: #0088cf;
}

.list .vlink {
  padding: 0 30px 0 5px;
}

.list .vlink a {
  display: inline-block;
}

.list .vlink .video_link_btn {
  margin-right: 10px;
}

.list .vlink .video_link_btn #iplay_on,
.list .vlink .video_link_btn #imb_on {
  display: block;
  width: 32px;
}

.list .vlink .video_link_btn #iplay_off,
.list .vlink .video_link_btn #imb_off {
  display: block;
  width: 32px;
}

.list .vlink .video_link_btn:hover #iplay_on,
.list .vlink .video_link_btn:hover #imb_on {
  display: block;
  width: 32px;
}

.list .link {
  margin: auto;
  margin-right: 30px;
  font-size: 13px;
  line-height: 120%;
  text-align: right;
}

.list .link a {
  color: #9f9699;
}


